@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* sticky footer */
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 5em;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 5em;
    width: 100%;

    background-color: black;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer a {
    color: inherit;
}
.footer #credit {
    margin-top: 0.75em;
    font-size: 80%;
}

.nav {
    background-color: black;
    padding: 1em;
    color: white;
}
.nav a {
    color: inherit;
}
.nav a#title {
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
}
.nav .links {
    display: inline-block;
    list-style-type: none;
    padding-left: inherit;
}
.nav .links li {
    display: inline-block;
    padding: 0 1em;
}
.nav .links li a {
    text-decoration: none;
}
.nav, .nav #title {
    display: flex;
    align-items: center;
}
.nav #logo {
    margin-right: 0.4em;
    height: 2em;
}

.content {
    margin: 1em;
}

.posts-index .post .title {
    font-size: 150%;
}
/* .posts-index .post.archive {
    display: inline;
}
.posts-index .post.archive .title {
    font-size: inherit;
} */


.big-button {
    color: white;
    background-color: var(--theme-primary);
    margin: 1em auto;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
.big-button:hover {
    filter: brightness(85%);
}

/* blog page */
.post-preview .title {
    font-size: 2em;
}

a {
    color: var(--theme-primary);
}