@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: black;
    text-align: center;
    padding: 1em 0;
    color: white;
}
.nav a {
    color: inherit;
}
.nav a#title {
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
}
