{% extends "base.html" %}

{% block title %}Archive{% endblock %}

{% block content %}

<div class="archive">
    {% set posts_sorted = posts|sort(attribute='date_parsed', reverse=True) %}
    {% set prev_year = {'value': '0000'} %}
    {% for post in posts_sorted %}
        {% set cur_year = post['date_parsed'].strftime('%Y') %}
        {% if cur_year != prev_year['value'] %}
        {% if prev_year.update({'value': cur_year }) %}{% endif %}
        <div>
            <h3>{{ cur_year }}</h3>
        </div>
        {% endif %}

        <div class="post">
            <div class="title">
                {{ post['date_parsed'].strftime('%b %-m') }}: <a href="{{ post['path'] }}">{{ post['title'] }}</a> 
            </div>
        </div>
    {% endfor %}
</div>

{{ test }}
{% endblock %}
