<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | {{ config['title'] }}</title>
    <style>
        :root {
            --theme-primary: {{ config['theme']['primary'] }}
        }
    </style>
    <link rel="stylesheet" href="{{ root_path }}static/code-highlights.css">
    <link rel="stylesheet" href="{{ root_path }}static/main.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/mathtex-script-type.min.js" defer></script>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <div class="nav">
                <a id="title" href="{{ root_path }}"><img id="logo" src="{{ root_path }}static/img/logo.png" />{{ config['title'] }}</a>
                <ul class="links">
                    <li><a href="{{ root_path }}">Home</a></li>
                    <li><a href="{{ root_path }}blog">Blog</a></li>
                    <li><a href="{{ root_path }}archive">Archive</a></li>
                </ul>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            {% if config['footer']['copyright']['enabled'] %}
            <div id="copyright">
                Copyright &copy; <span id="year"></span>{{ config['footer']['copyright']['company'] }}
            </div>
            {% endif %}
            {% if config['footer']['give_credit'] %}
            <div id="credit">
                Made with <a href="https://github.com/pagekeytech/markdown-sitegen">markdown-sitegen</a> from <a href="https://www.pagekeytech.com/">PageKey Tech</a>
            </div>
            {% endif %}
        </div>
    </div>
    <script src="{{ root_path }}static/main.js"></script>
</body>
</html>