<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | {{ config['title'] }}</title>
    <link rel="stylesheet" href="{{ root_path }}static/main.css">
</head>
<body>
    <div class="nav">
        <a id="title" href="{{ root_path }}">{{ config['title'] }}</a>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>