{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}

{% for post in posts[0:config['pagination']] %}
<div class="post-preview">
    <div class="title">
        <a href="{{ post['path'] }}">{{ post['title'] }}</a>
    </div>
    <div class="date">
        {{ post['date_parsed'].strftime('%B %-d, %Y') }}
    </div>
    {% if 'authors' in post %}
    {% include 'components/authors.html' %}
    {% endif %}
    <div>
        {% if 'summary' in post %}
        {{ post['summary'] }}
        {% else %}
        {{ post['body'] }}
        {% endif %}
    </div>
</div>
{% endfor %}

{% if has_prev %}
{% if prev_idx == 1 %}
<a class="big-button" href="{{root_path}}blog/">Newer posts</a>
{% else %}
<a class="big-button" href="{{root_path}}blog/page/{{ prev_idx }}">Newer posts</a>
{% endif %}
{% endif %}

{% if has_next %}
<a class="big-button" href="{{root_path}}blog/page/{{ next_idx }}">Older posts</a>
{% endif %}

{% endblock %}
