{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>Recent Posts</h2>

<div class="posts-index">
    {% for post in posts[0:5] %}
        <div class="post">
            <div class="title">
                <a href="{{ post['path'] }}">{{ post['title'] }}</a>
            </div>
            <div class="date">
                {{ post['date_parsed'].strftime('%B %-m, %Y') }}
            </div>
        </div>
    {% endfor %}
</div>

<a class="big-button" href="blog">See more</a>

{% endblock %}
