{% extends "base.html" %}

{% block title %}{{ post['title'] }}{% endblock %}

{% block content %}
    <h1>{{ post['title'] }}</h1>
    {% if 'authors' in post %}
    {% include 'components/authors.html' %}
    {% endif %}

    {% if 'youtube' in post %}
        <iframe 
            src="https://www.youtube.com/embed/{{ post['youtube'] }}"
            title="YouTube video player" 
            frameBorder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowFullScreen>
        </iframe>
    {% endif %}

    {{ body }}

    {% if prev_post %}
        <a class="big-button" href="{{relpath}}{{ prev_post['path'] }}">Previous: {{ prev_post['title'] }}</a>
    {% endif %}

    {% if next_post %}
        <a class="big-button" href="{{relpath}}{{ next_post['path'] }}">Next: {{ next_post['title'] }}</a>
    {% endif %}

{% endblock %}
