{% extends "base.html" %}

{% block title %}{{ post['title'] }}{% endblock %}

{% block content %}
    <h1>{{ post['title'] }}</h1>
    {% if 'authors' in post %}
    <div>
        {% if (post['authors']|length) > 1 %}
        Authors:
        {% else %}
        Author: 
        {% endif %}
        {% for author in post['authors'] %}
            {% if author in config['authors'] %}    
            {{ config['authors'][author]['name'] }}
            {% else %}
            {{ author }}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if 'youtube' in post %}
        <iframe 
            src="https://www.youtube.com/embed/{{ post['youtube'] }}"
            title="YouTube video player" 
            frameBorder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowFullScreen>
        </iframe>
    {% endif %}

    {{ body }}

    {% if prev_post %}
        <div>
            Previous: 
            <a href="{{relpath}}{{ prev_post['path'] }}">{{ prev_post['title'] }}</a>
        </div>
    {% endif %}

    {% if next_post %}
        <div>
            Next: 
            <a href="{{relpath}}{{ next_post['path'] }}">{{ next_post['title'] }}</a>
        </div>
    {% endif %}

{% endblock %}
